page-group-create {
  h1 {
    font-weight: bolder;
    color: map-get($colors, primary);
    margin-left: 20vw;
    margin-top: 10vh;
  }
  .item-ios {
    height: 14vh;
    margin-left: 10%;
    width: 80%;
    border-radius: 7vh;

  }

  #icon{
    height: 6vh;
    //margin-top: 1vh;
    position: absolute;
    right: 45vh;
    top: 2vh;
  }

  .scroll-content{
    background-color: #F8BBD0;
  }

  .toolbar-background{
    background-color: #F8BBD0;
  }

  .nextArrowDown{

        color: map-get($colors, primary);
  }


}
