<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngFor="let existence of this.dataProvider.data2.existence">
    <div *ngIf="existence; else elseBlock">
      <ion-item>
        {{ dataProvider.data2.name }}
      </ion-item>
      <ion-item>
        {{ dataProvider.data2.id }}
      </ion-item>
      <ion-item>
        <ion-avatar>
          <img [src]='dataProvider.data2.profilePicture'>
        </ion-avatar>
      </ion-item>
      <button ion-button (click)='toHome()'> Continue </button>
      <button ion-button (click)='logout()'> Cancel </button>
    </div>
    <ng-template #elseBlock>
      <ion-item>
        <button ion-button (click)='login()'> Log In (Native)</button>
      </ion-item>
      <ion-item>
        <button ion-button (click)='login2()'> Log In (ng)</button>
      </ion-item>
    </ng-template>
  </div>
</ion-content>
