<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<ion-header>

  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>

</ion-header>
-->


<ion-content>

  <div *ngFor="let existence of this.dataProvider.data2.existence">
    <div *ngIf="existence; else elseBlock">
      <img id='profilePic' [src]='dataProvider.data2.profilePicture'>
      <img id='icon' src="assets/img/icon.png">
      <div text-center id='name' >
        <h3>{{ dataProvider.data2.name }}</h3>
      </div>
      <div text-center class='buttonDiv'>
        <button ion-button block (click)='toHome()'> Continue </button>
      </div>
      <div text-center class='buttonDiv'>
        <button ion-button block (click)='logout()'>   Cancel   </button>
      </div>
    </div>
    <ng-template #elseBlock>
      <ion-item>
        <button ion-button (click)='login()'> Log In (Native, facebook)</button>
      </ion-item>
      <ion-item>
        <button ion-button (click)='login2()'> Log In (ng, firebase)</button>
      </ion-item>
      <ion-item>
        <button ion-button (click)='login3()'> Log In (ng, facebook)</button>
      </ion-item>
    </ng-template>
  </div>
</ion-content>
