<!--
  Generated template for the GroupCreate2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="alterFriends">
    <ion-segment-button style='border-radius: 2vh; margin-right: 4vw;' value="add">
      ADD
    </ion-segment-button>
    <ion-segment-button style='border-radius: 2vh; margin-right: 4vw;' value="remove">
      REMOVE
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]='alterFriends'>

    <div *ngSwitchCase='"add"'>
      <ion-searchbar [(ngModel)]='friendName' (input)='getFriendList(friendName)' placeholder='Search Friends...' animated>
      </ion-searchbar>
      <div *ngIf="friends && friends.length > 0">
        <div *ngFor='let friend of friends'>
          <div *ngIf='!users.includes(friend)'> <!-- i think friend should be [uid, name, photoULR here]-->
            <ion-item (click)='addTo(friend)'>

              <ion-avatar item-left>
                <img src='{{ friend[2] }}'>
              </ion-avatar>

              <h2>{{ friend[1] }}</h2>
            </ion-item>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase='"remove"'>
      <div *ngFor='let user of users'>
        <div *ngIf='user != dataProvider.data.id'>
          <ion-item (click)='users.splice(users.indexOf(user), 1)'>
            <ion-avatar item-left><img [src]='dataProvider.data.userDb[user].profilePicture'></ion-avatar>
            <h2>{{ dataProvider.data.userDb[user].name }}</h2>
          </ion-item>
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar (click)='goToGroupCreatePage3()'>
    <ion-icon class='nextArrowDown' name='arrow-down'></ion-icon>
  </ion-toolbar>
</ion-footer>
