page-group-create2 {
  ion-segment{
    padding: 2vh 0vw;
    font-weight: bold;
    width: 80vw;
    height: 4vh;
    margin: 1vh auto;
  }

  .segment-ios .segment-button {
    border-color: #fff;
    border-width: .4vh;
    width: 40%;

  }

}
