<ion-header no-border no-shadow>
  <ion-navbar class='navBar'>
    <ion-buttons start>
      <button ion-button icon-only color='white' [navPush]='userProfilePage' >
        <ion-icon id='profileIcon' name='person'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img id='icon' src="assets/img/iconnobg.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color='white' (click)='this.navCtrl.push(groupCreatePage)' >
        <ion-icon id='calendarIcon' name='calendar'></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-line>
    <!--
    <ion-item (click)='this.navCtrl.push(groupCreatePage)'>
      <ion-icon class='newEvent' name='add'></ion-icon>
      <h3 class='newEvent' text-center>- Create New Event -</h3>
    </ion-item>
  -->
      <div text-center  (click)='this.navCtrl.push(groupCreatePage)' class='addEvent'>
        <ion-icon id='plusIcon' name='add'></ion-icon>
      </div>
      <div class="sampleListItem">
        <div [ngStyle]="{'background-image': 'linear-gradient(rgba(248, 187, 208, .7), rgba(248, 187, 208, .7)),
        url(' + dataProvider.data.userDb[0].profilePicture + ')'}"
          class="sampleListItemSection1">
            <div class='sampleItemTitle'>
              <h1>Lorem ipsum</h1>
            </div>
            <div class='sampleItemNotification'>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
      </div>

      <div *ngFor='let event of this.eventList; let i = index' [attr.data-index]='i'> <!-- had async pipe here but causing errors on login page-->
        <div *ngIf='event.eventStage == 0'>
            <div class="sampleListItem" [ngStyle]="{'background': getColor(i)}" (click)='goToVote(event)'>
              <div [ngStyle]="{'background-image': 'linear-gradient(' + getColor(i) +', ' + getColor(i) + '),
              url(' + event.photoURL + ')'}"
                class="sampleListItemSection1">
                  <div class='sampleItemTitle'>
                    <h1>{{ event.name }}</h1>
                  </div>
                  <div class='sampleItemNotification'>
                    <p>{{ event.message}}</p>
                  </div>
              </div>
            </div>
        </div>
        <div *ngIf='event.eventStage == 1'>
          <button (click)='goToEvent(event)' ion-item>
            <ion-avatar item-left>
              <img src= "{{ event.photoURL }}">
            </ion-avatar>
            <h2>{{ event.name }}</h2>
            <h3>{{ event.status }}</h3>
            <p>{{ event.message }}</p>
          </button>
        </div>
      </div>
  </ion-list>
</ion-content>
