<ion-header>
  <ion-navbar class='navBar'>
    <ion-title>
      Votelink
    </ion-title>
    <ion-icon id='profileIcon' [navPush]='userProfilePage' name='person'></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-line>
    <ion-item (click)='this.navCtrl.push(groupCreatePage)'>
      <ion-icon class='newEvent' name='add-circle'></ion-icon>
      <!--<h3 class='newEvent' text-center>- Create New Event -</h3>-->
    </ion-item>
      <div *ngFor='let event of this.eventList'> <!-- had async pipe here but causing errors on login page-->
        <div *ngIf='event.eventStage == 0'>
          <button (click)='goToVote(event)' ion-item>
            <ion-avatar item-left>
              <img [src]=dataProvider.data.userDb[event.ownerId].profilePicture>
              <!-- ^^ looking for something like... getEventPic() with ref('userDb' + userId + 'profilePicture')-->
            </ion-avatar>
            <h2>{{ event.name }}</h2>
            <h3>{{ event.status }}</h3>
            <p>{{ event.message }}</p>
          </button>
        </div>
        <div *ngIf='event.eventStage == 1'>
          <button (click)='goToEvent(event)' ion-item>
            <ion-avatar item-left>
              <img [src]=dataProvider.data.userDb[event.ownerId].profilePicture>
            </ion-avatar>
            <h2>{{ event.name }}</h2>
            <h3>{{ event.status }}</h3>
            <p>{{ event.message }}</p>
          </button>
        </div>
      </div>
  </ion-list>
</ion-content>
