<ion-header>
  <ion-navbar>
    <ion-title>
    {{ event.name }}
    <ion-icon item-right name='text' (click)='goToChat(event)'></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <span *ngFor='let user of event.invitedUsers'>
          <ion-avatar>
            <img [src]=dataProvider.data.userDb[user].profilePicture>
          </ion-avatar>
        </span>
    </ion-item>
    <ion-item>
      <h2>{{ event.voteTimeSetting }}</h2>
    </ion-item>
    <ion-item>
      <ion-scroll scrollX="true" style='height: 120px'>
        <div *ngFor='let date of event.voteDayOptions'>
          <p> {{ date }} </p>
        </div>
      </ion-scroll>
    </ion-item>
    <ion-item>
      <ion-scroll scrollX="true" style='height: 120px'>
        <div *ngFor='let activity  of event.voteLocationActivityOptions'>
          <p> {{ activity }} </p>
        </div>
      </ion-scroll>
    </ion-item>
    <ion-item>
      <button ion-button (click)='goToVote2(event)'>Your Vote</button>
    </ion-item>
  </ion-list>
</ion-content>
