<ion-header>
  <ion-navbar>
    <ion-title>
    {{ event.name }}
    <ion-icon item-right name='text' (click)='goToChat(event)'></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item id='inviteList'>
      <ion-scroll scrollX="true" style='height: 12vh'>
        <span class='avatarBox' *ngFor='let user of event.invitedUsers'>
          <div id='invite'>
            <ion-avatar>
              <img  class='avatar' src='{{ user[2] }}'>
            </ion-avatar>
          </div>
        </span>
      </ion-scroll>
    </ion-item>
    <ion-item id='time' text-center>
      <h2>{{ event.voteTimeOptions }}</h2>
    </ion-item>
    <ion-item id='dateList'>
      <ion-scroll scrollX="true" style='height: 12vh'>
        <span class='dateBox' *ngFor='let date of event.voteDayOptions'>
          <div class='dateCircle'  text-center>
            {{ date | date: 'M/d'}}
          </div>
        </span>
      </ion-scroll>
    </ion-item>
    <ion-item id='activityList'>
      <ion-scroll  scrollX="true" style='height: 6vh' >
        <span class='activityBox' *ngFor='let activity  of event.voteLocationActivityOptions'>
          <div class='activity'>
             {{ activity }}
          </div>
        </span>
      </ion-scroll>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item id='yourVote' (click)='goToVote2(event)' text-center>
      <div id='voteStyling'>
        Vote
      </div>
    </ion-item>
  </ion-toolbar>
</ion-footer>
