<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color='white' (click)='this.navCtrl.pop()' >
        <ion-icon id='backIcon' name='arrow-back'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
    {{ event.name }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color='white' (click)='goToChat(event)' >
        <ion-icon id='chatIcon' name='text'></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item id='inviteList' no-border>
      <ion-scroll scrollX="true" style='height: 12vh'>
        <span class='avatarBox' *ngFor='let user of event.invitedUsers'>
          <div id='invite'>
            <!--<ion-avatar>-->
              <img  class='invitePic' src='{{ user[2] }}'>
            <!--</ion-avatar>-->
          </div>
        </span>
      </ion-scroll>
    </ion-item>
    <div id='time' text-center>
      <h5>{{ event.voteTimeOptions }}</h5>
    </div>
    <ion-item id='dateList'>
      <ion-scroll scrollX="true" style='height: 12vh'>
        <span class='dateBox' *ngFor='let date of event.voteDayOptions'>
          <div class='dateCircle'  text-center>
            {{ date | date: 'M/d'}}
          </div>
        </span>
      </ion-scroll>
    </ion-item>
    <ion-item id='activityList'>
      <ion-scroll  scrollX="true" style='height: 6vh' >
        <span class='activityBox' *ngFor='let activity  of event.voteLocationActivityOptions'>
          <div class='activity'>
             <h5 class='activityText'>{{ activity }}</h5>
          </div>
        </span>
      </ion-scroll>
    </ion-item>
    <ion-item id='yourVote' (click)='goToVote2(event)' text-center>
      <div id='voteStyling'>
        Vote
      </div>
    </ion-item>
  </ion-list>
</ion-content>
