page-group-create4 {

  .scroll-content{
    background-color: #EC407A;
  }

  .toolbar-background{
    background-color: #EC407A;
  }

  h1 {
    font-weight: bolder;
    color: white;
    margin-left: 20vw;
    margin-top: 3vh;
  }
}
