page-group-chat {

  .toolbar-title-ios{
    color: map-get($colors, light);
    //color: white;
    font-size: 1.5em;
    font-weight: 500;
  }

  .message{
    //border: solid 2px black;
  }

  .messageBoxFriend{
    //border: solid 1px blue;
    //height: 30vh;
    margin-bottom: 2vh;

  }

  .messageBubble{

    width: 70vw;
    background-color: map-get($colors, light);
    border-radius: 2vh;
    color: white;
    font-size: 1.2em;
    margin-left: 26vw;
    margin-bottom: 2vw;
    padding: 1vh;

  }


    .messageBubbleFriend{

      //display: inline-block;
      //min-height: 12vh;
      width: 60vw;
      background-color: lightgrey;
      border-radius: 2vh;
      color: black;
      font-size: 1.2em;
      margin-left: 8vw;
      //margin-bottom: 2vw;
      padding: 1vh;

    }

    .messageBubbleBox{
      min-height: 12vh;
    }

    .messageBubbleBoxFriend{
      position: absolute;
      min-height: 12vh;
      //border: solid 4px black;
      display: inline-block;
      width: 68vw;
    }

  .photoPic{
    height: 16vw;
    width: 16vw;
    border-radius: 50%;
    margin-left: 4vw;

  }

  .photoBox{
    //border: solid 4px red;
    display: inline-block;
    height: 20vw;
    width: 20vw;
  }
}
